.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: var(--text-md);
}

@media (min-width: 1024px) {
  .loader {
    font-size: var(--text-lg);
  }
}
