.header {
  padding: 16px 20px 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  position: relative;
  z-index: 20;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: var(--text-md);
}

.back {
  font-size: var(--text-md);
  display: flex;
  gap: 10px;
  align-items: center;
}

.leftarrow {
  width: 8px;
  height: 8px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg);
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.book {
  align-self: flex-end;
  text-decoration: underline;
  font-weight: var(--font-weight-lg);
}

.logout {
  display: flex;
  flex-direction: column;
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.stickyHeader {
  width: 100%;
  padding: 16px 20px 16px 20px;
  text-align: end;
  top: 0px;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-color: white;
}

@media (min-width: 1024px) {
  .header {
    padding: 16px 175px 16px 175px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact {
    flex-direction: row;
  }

  .book {
    align-self: normal;
    font-size: var(--text-md);
  }

  .headerRight {
    flex-direction: row;
    font-size: var(--text-md);
  }

  .stickyHeader {
    padding: 16px 175px 16px 175px;
    font-size: var(--text-md);
  }

  .logout {
    font-weight: var(--font-weight-md);
  }
}
