.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-md);
}

.body button {
  background-color: white;
  font-size: var(--text-md);
  padding: 24px 32px 24px 32px;
  border: 1px solid gray;
  cursor: pointer;
}
